body{
margin: 0px;
padding: 0px;
background-color: #1b203d;
overflow: hidden;
font-family: system-ui;

}
.claerfix{
    clear: both;
}
.logo{
    margin: 0px;
    margin-left: 28;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
    font-size: 36px;

}
.logo span{
    color: #f7403b;
}
.sidenav{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #272c4a;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 30px;

}
.sidenav a{
    padding:15px 8px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover{
    color: #f1f1f1;
    background-color: #1b203d;

}
#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 300px;

}
.head5{
    padding: 20px;
}
.col-div-6{
    width: 50%;
    float: left;

}
.profile{
    display: inline-block;
    float: right;
    width: 160px;
}
.pro-img{
    float: left;
    width: 40px;
    margin-top: 5px;
}
.profile p{
color:white;
font: weight 500px;
margin-left: 55px;
margin-top: 10px;
font-size: 13.5px
}
.profile p span{
    font-weight: 400;
    font-size: 12px;
    display: block;
    color: #8e8b8b;
}
.nav{
    display: none;
}
.col-div-3{
    width: 25%;
    float: left;
    
}
.box{
    width: 85%;
    /* height: 100px; */
background-color: #272c4a;
margin-left: 10px;
padding: 10px;
cursor: pointer;
}

.box p{
    font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}

    .box p span{
        font-size: 20px;
        font-weight: 400;
        color: 818181;


    }
    .box-icon{
        font-size: 40px!important;
        float:right;
        margin-top: 35px!important;
        color: #818181;
        padding-right: 10px;


    }
    .col-div-8{
        width: 70%;
        float: lrft;
    }
    .content-box{
        padding: 20px;
    }
    .content-box p{
        margin: 0px;
        font-size: 20px;
        color: #f7403b
    }
    .content-box p span{
        float: right;
        background-color: #ddd;
        padding: 3px 10px;
        font-size: 15px;


    }
.box-8, .box4{
    width: 96.5px;
    background-color: #272c4a;
    height: 330px;

}
.box-8{
    margin: 10px;
    width: 95%;
}
table{
    border-collapse: collapse;
    width: 100%;

}
td,th{
    text-align: left;
 padding: 15px;
 color: ddd;
 border-bottom: 1px solid #81818149;
}
.circle-warp{
    margin: 50px;
    width: 150;
    height: 150;
    bottom: #e6e2e7;
    border-radius: 50%;

}
.circle-warp .circle .mask,
.circle-warp .circle .fill{
    width: 150px;
    height: 150;
    position: absolute;
    border-radius: 50%;

}
.circle-warp .circle .mask .fill{
    clip: rect(0px, 75px, 150px 75px);
    background-color: #f7403b; 
 }
    .circle-warp .circle .mask.full,
    .circle-warp .circle .fill{
        animation: fill ease-in-out 3s;
        transform: rotate(126deg);     
    }
   @keyframes fill {
       0%{
           transform: rotate(0deg);

       }
   100%{
       transform: (126deg);
   }
   }
.circle-warp .inside-circle{
width: 130px;
height: 130px;
border-radius: 50%;
background: #fff;
line-height: 130px;
text-align: center;
margin-top: 10px;
margin-left: 10px;
position: absolute;
z-index: 100;
font-weight: 700;
font-size: 2em;

}


